.controlla {
  height: 90vh;
  width: 100%;
  padding: 1rem;
  display: grid;
  min-width: 720px;
  max-width: 1140px;
  width: auto;
  background: #0a0a0a;
  column-gap: 2rem;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "brand"
    "samplers";
}
