.sampler {
  display: grid;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  background: #0b0b0b;
  grid-template-rows: 50% auto;
  border: 1px solid rgba(255, 0, 0, 0.2);
  box-shadow: 0rem 0rem 1rem rgba(255, 0, 0, 0.2);
}

.pad {
  color: lightgray;
}

.label {
  color: lightgray;
  padding: 0.5rem;
  font-size: 0.65em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.sampler:active,
.sampler:hover,
.activePad {
  box-shadow: 0rem 0rem 1.25rem 0.2rem rgba(255, 0, 0, 1);
}
