.sampler {
  display: grid;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  background: #0b0b0b;
  grid-template-rows: 80% auto;
  border: 1px solid rgba(255, 0, 0, 0.2);
  box-shadow: 0rem 0rem 1rem rgba(255, 0, 0, 0.2);
}

.pad {
  color: lightgray;
}

.label {
  color: lightgray;
  padding: 0.5rem;
  font-size: 0.65em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.sampler:active,
.sampler:hover {
  box-shadow: 0rem 0rem 1rem rgba(255, 0, 0, 1);
}

.activePad {
  background: rgba(255, 0, 0, 0.75);
}

.samplerConfig {
  position: absolute;
  font-size: 1.25em;
  padding: 1rem;
  outline: none;
  border: none;
  top: 0;
  right: 0rem;
  color: lightgray;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
