html,
body,
div#root {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
